.modal {
  border-radius: 0;
  max-width: 650px;
  i {
    display: block;
    margin: 0 auto 1rem auto;
    font-size: 2rem;
  }
  i.warning {
    color: $primary-waning-color
  }
  i.success {
    color: $primary-success-color;
  }
}
.modal-header {
  padding: 15px;
  h2 {
    width: 100%;
    text-align: center;
    font-weight: 500;
    font-size: 1.5rem;
  }
}
.modal-body {
  position: relative;
}
@media (max-width: 768px) {
  .modal {
    padding: 1rem;
  }
  .modal-header {
    h2 {
      font-size: 1rem;
    }
  }
}