.post-type-da-record .subsubsub li {
  display: none; }
  .post-type-da-record .subsubsub li.all, .post-type-da-record .subsubsub li.canceled, .post-type-da-record .subsubsub li.done {
    display: inline-block; }

.type-da-record + tr + tr .inline-edit-status {
  display: none; }

.type-da-record .post-state {
  display: none; }
